<section class="mt-[6.25rem] w-full overflow-hidden xl:mt-[8.5rem]">
  <div class="container flex justify-end">
    <div class="grid grid-cols-1 gap-10 md:grid-cols-[22.75rem_22.75rem] md:gap-[4.3125rem]
      xl:grid-cols-[27.8125rem_1fr] xl:gap-[7.8125rem]
    ">
      <img src="/assets/image-amy.webp" alt="" class="max-w-[18.75rem] mx-auto [aspect-ratio:1] md:max-w-full">
      <header class="text-center flex flex-col items-center gap-6 md:text-left md:items-start xl:gap-8 xl:self-center">
        <h2 class='headline-md text-neutral-800'>
          I'm Amy, and I'd love to work on your next project
        </h2>
        <p class="body-md text-neutral-500  xl:mt-0.5">
          I love working with others to create beautiful design solutions. I've designed everything from brand illustrations to complete mobile apps. I'm also handy with a camera!
        </p>
        <a href="/#" class="button-primary">Free Consultation</a>
      </header>
    </div>
  </div>
</section>