<section class="mt-[6.25rem] bg-neutral-800 text-neutral container xl:mt-[5.5rem]">
  <div class="w-[18.4375rem] mx-auto flex items-center flex-col gap-6 py-12
    md:w-[33.75rem] md:py-12 xl:w-full xl:flex-row xl:justify-between xl:py-[5.0625rem]
    xl:pl-[4.0625rem] xl:pr-[5.9375rem]
  ">
    <header class="text-center xl:text-left xl:w-[33.75rem]">
      <h2 class="headline-md">Book a call with me</h2>
      <p class="body-md mt-6">
        I'd love to have a chat to see how I can help you. The best first step is for us to discuss your project during a free consultation. Then we can move forward from there.
      </p>
    </header>

    <a href="/#" class="button-primary">Free Consultation</a>
    </header>
</section>