<footer class="my-14 md:mb-16" >
  <div class="container flex items-center justify-between">
    <a href="/#" aria-label="homepage">
      <img src="/assets/logo.svg" alt="" class="w-12 h-12 md:w-16 md:h-16">
    </a>
    <a href="/#" class="button-secondary">Free Consultation</a>
  </div>
</footer>