<header class="mt-8 md:mt-16 xl:mt-[4.125rem]">
  <div class="container">
    <h1 class="headline-xl text-neutral-800 text-center">Design solutions made easy</h1>
    <p class="body-md text-neutral-500 text-center mt-4 w-[17.8125rem] mx-auto
      md:mt-[1.6875rem] md:w-[35.8125rem] xl:w-[47rem] xl:mt-[1.4375rem]
    ">
      With over ten years of experience in various design disciplines, I'm your one-stop shop for your design needs.
    </p>
  </div>
</header>