<section class="mt-8 md:mt-16 xl:mt-20">
  <div class="container">
    <h2 class="sr-only">Skills</h2>
    <ul class="grid grid-cols-2 gap-6 grid-rows-[22.75rem_11.375rem_9.875rem_11.375rem_11.375rem]
      md:grid-cols-4 md:grid-rows-[11.375rem_9.875rem_11.375rem]
      xl:grid-cols-6 xl:grid-rows-[11.375rem_9.875rem]
      [&>li]:rounded-lg [&_span]:headline-sm [&>li]:text-neutral
      [&>li]:p-6 [&>li]:grid [&>li]:grid-cols-1 [&>li]:content-between [&_img]:justify-self-end
      ">
      <li class="col-span-2 bg-blue md:col-span-2 md:row-span-2">
        <img src="/assets/pattern-graphic-design.svg" alt="">
        <span>Graphic Design</span>
      </li>
      <li class="bg-orange xl:order-1">
        <img src="/assets/pattern-ui-ux.svg" alt="">
        <span>UI|UX</span>
      </li>
      <li class="bg-pink xl:order-2">
        <img src="/assets/pattern-apps.svg" alt="">
        <span>Apps</span>
      </li>

      <li class="bg-red col-span-2 xl:order-4">
        <img src="/assets/pattern-illustrations.svg" alt="">
        <span>Illustrations</span>
      </li>
      <li class="bg-cyan col-span-2 xl:order-3">
        <img src="/assets/pattern-photography.svg" alt="">
        <span>Photography</span>
      </li>
      <li class="bg-purple col-span-2 xl:order-5">
        <img src="/assets/pattern-motion-graphics.svg" alt="">
        <span>Motion Graphics</span>
      </li>
    </ul>
  </div>
</section>